<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">
    <!-- Define your beans here -->
    <!-- define the dependency-->
    <!--Load the properties file : sport.properties -->
    <context:annotation-config/>


    <bean id="inventoryWareHouse" class="com.example.crudinventrack.inventorymanagement.util.InventoryWareHouse">

    </bean>

    <bean id="book" class="com.example.crudinventrack.entity.Book">


    </bean>


    <bean id = "store" class = "com.example.crudinventrack.store.Store">
        <!---Creating Store Object-->

    </bean>




</beans>
