<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">
    <!-- Define your beans here -->
    <!-- define the dependency-->
   <!--Load the properties file : sport.properties -->
    <context:annotation-config/>
  
     	<!--add entry to enable component scanning -->
    <bean id="inventoryWareHouse" class="com.example.crudinventrack.inventorymanagement.util.InventoryWareHouse">

    </bean>

        <bean id="book" class="com.example.crudinventrack.entity.Book">
            <constructor-arg value="Java 122"/>
            <constructor-arg value="10.5"/>
            <constructor-arg value="5"/>
            <constructor-arg value="123"/>
            <constructor-arg value="james gosling"/>
            <constructor-arg value="james gosling"/>
            <constructor-arg value="123456789"/>

            <constructor-arg ref = "inventoryWareHouse"/>
        </bean>

    <bean id = "book2" class = "com.example.crudinventrack.entity.Book">
        

    </bean>

    <bean id="book3" class="com.example.crudinventrack.entity.Book">




    </bean>

</beans>





















